# Clocks
NET "Clk" PERIOD = 31.25 ns | LOC = "P85";

# LEDs
NET "LEDS<0>" LOC="P20" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<1>" LOC="P19"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<2>" LOC="P16"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "PORTB10" LOC="P32" | IOSTANDARD=LVTTL;
NET "PORTB11" LOC="P33" | IOSTANDARD=LVTTL;